/*
 * Customization Variables
 */

$background: #17223b;
$accent1: #263859; /* lighter blue */
$accent2: #6b778d; /* grey blue */
$accent3: #ff6768; /* salmon */
$title-color: #ff6768;
$text-color: #cccccc;
$image-size: 30%;

/*
 * Build Variables, don't touch
 */

$max-width: 700px;
$med-width: 600px;
$small-width: 480px;
