<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ config.overview.analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ config.overview.analytics }}');
    </script>

    <!-- Open links in new tab by default -->
    <base target="_blank">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Personal website of {{ config.overview.name }}.">
    <meta name="author" content="{{ config.overview.name }}">

    <title>{{ config.overview.name }}</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- JS Stuff -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="stylesheet.css">

    <script>
        function unhide(divID) {
            var item = document.getElementById(divID);
            if (item) {
                item.className=(item.className=='hidden')?'unhidden':'hidden';
            }
        }
    </script>
</head>

<body class="grey lighten-4">
<div class="mainblock">
    <div class="headshot">
        <img src="{{ config.overview.headshot }}" alt="" width="100%" height="100%"/>
    </div>

    <h1 class="blue-grey-text text-darken-4">{{ config.overview.name }}</h1>

    <p class="blue-grey-text text-darken-3" id="h1-subheader">
        {{ config.overview.titles | join(' // ') }}
    </p>

    <div>
        {% set pipe = joiner("|") %}
        {% for contact in config.overview.contacts %}
        {{ pipe() }} <a href="{{ contact.link }}" style="text-transform: uppercase">{{ contact.name }}</a>
        {% endfor %}
    </div>

    <p>{{ config.overview.text | safe }}</p>

    <h2 id="research" class="blue-grey-text text-darken-4">
        <i class="material-icons">science</i>
        RESEARCH
        <a href="#research" target="_self">
            <i class="material-icons grey-text text-lighten-1 anchor-link">link</i>
        </a>
    </h2>
    {% include 'research.html' %}

    <h2 id="theses" class="blue-grey-text text-darken-4">
        <i class="material-icons">book</i>
        DISSERTATIONS
        <a href="#dissertations" target="_self">
            <i class="material-icons grey-text text-lighten-1 anchor-link">link</i>
        </a>
    </h2>
    {% include 'theses.html' %}

    <h2 id="projects" class="blue-grey-text text-darken-4" style="margin-bottom: 4px;">
        <i class="material-icons">engineering</i>
        PROJECTS
        <a href="#projects" target="_self">
            <i class="material-icons grey-text text-lighten-1 anchor-link">link</i>
        </a>
    </h2>
    <p class="blue-grey-text text-darken-3" id="h2-subheader">
        <em>
        Check out all of my projects on
        <a href="{{ config.projects.github }}" class="blue-grey-text text-darken-3">GitHub</a>.
        </em>
    </p>
    {% include 'projects.html' %}

    <h2 id="selected-publications" class="blue-grey-text text-darken-4" style="margin-bottom: 4px;">
        <i class="material-icons">star</i>
        SELECTED PUBLICATIONS
        <a href="#selected-publications" target="_self">
            <i class="material-icons grey-text text-lighten-1 anchor-link">link</i>
        </a>
    </h2>
    <p class="blue-grey-text text-darken-3" id="h2-subheader">
        <em>Ordered by most recent.</em>
    </p>
    {% set publications = selected_publications %}
    {% include 'selected.html' %}

    <h2 id="publications" class="blue-grey-text text-darken-4" style="margin-bottom: 4px;">
        <i class="material-icons">article</i>
        ALL PUBLICATIONS
        <a href="#publications" target="_self">
            <i class="material-icons grey-text text-lighten-1 anchor-link">link</i>
        </a>
    </h2>
    <p class="blue-grey-text text-darken-3" id="h2-subheader">
        <em>
        Ordered by most recent and grouped by topic. Bibtex file available for download
        <a href="{{ config.publications.bibtex }}" class="blue-grey-text text-darken-3">here</a>.
        </em>
    </p>
    {% set publications = all_publications %}
    {% include 'publications.html' %}

    <h2 id="presentations" class="blue-grey-text text-darken-4" style="margin-bottom: 4px;">
        <i class="material-icons">co_present</i>
        PRESENTATIONS
        <a href="#presentations" target="_self">
            <i class="material-icons grey-text text-lighten-1 anchor-link">link</i>
        </a>
    </h2>
    <p class="blue-grey-text text-darken-3" id="h2-subheader">
        <em>Ordered by most recent.</em>
    </p>
    {% include 'presentations.html' %}
</div>
</body>

<footer class="grey-text">
    <a href="{{ config.overview.source }}" class="grey-text">Source Code</a><br>
    Website design based on <a href="https://www.ericswallace.com/" class="grey-text">ericwallace.com</a>.<br>
    Copyright &copy; {{ current_year }} {{ config.overview.name }}.
</footer>

</html>
