<!DOCTYPE html>

{% for p in presentations %}
<div class="bullet">
<div>
    <i class="material-icons">chevron_right</i>
</div>
<table cellspacing="0" cellpadding="0">
    <tr><td>
        <b>{{ p.title }}</b>
        <span class="grey-text text-darken-1" style="padding-left: 6px;">[{{ p.date_str }}]</span>
    </td></tr>
    <tr><td>
        <em>{{ p.location }}</em>
    </td></tr>
    <tr><td>
        {% if p.slides %}
        <a href="{{ p.slides }}" target="_blank">Slides</a>
        {% elif p.poster %}
        <a href="{{ p.poster }}" target="_blank">Poster</a>
        {% endif %}
    </td></tr>
</table>
</div>
{% endfor %}
