<!DOCTYPE html>

<div style="padding-left: 24px; margin-bottom: 24px">
<table cellspacing="0" cellpadding="0" style="table-layout: auto; width: 100%">
    <tbody>
    {% for p in presentations %}
    <tr>
        <td style="white-space: nowrap">
            <span class="grey-text text-darken-1">{{ p.date_str }}</span>
        </td>
        <td id={{ p.tag }} style="width: 100%">
            <b>{{ p.title }}</b>
            <a href="#{{ p.tag }}" target="_self">
                <i class="material-icons grey-text text-lighten-1 anchor-link">link</i>
            </a>
        </td>
    </tr>
    <tr>
        <td></td>
        <td style="white-space: nowrap">
            {% if p.slides %}
            <a href="{{ p.slides }}" target="_blank">Slides</a> |
            {% endif %}
            {% if p.poster %}
            <a href="{{ p.poster }}" target="_blank">Poster</a> |
            {% endif %}
            {% if p.video %}
            <a href="{{ p.video }}" target="_blank">Video</a> |
            {% endif %}
            <em>{{ p.location }}</em>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
