{% import 'icons.html' as icons %}
{% for thesis in theses %}
<div class="card" id="{{ thesis.tag }}">
    <div class="date">{{ thesis.date_str }}</div>
    <div class="main">
        <div class="title">{{ thesis.title }}<a class="anchor" href="#{{ thesis.tag }}" target="_self">{{ icons.icon('link') }}</a></div>
        <div class="authors"><em>{{ thesis.location }}{% if thesis.university %} · {{ thesis.university }}{% endif %}</em></div>
        <div class="links">
            <button data-panel="{{ thesis.tag }}_abstract">Abstract</button>
            <button data-panel="{{ thesis.tag }}_committee">Committee</button>
            {% if thesis.pdf %}<a href="{{ thesis.pdf }}">PDF</a>{% endif %}
            {% if thesis.slides %}<a href="{{ thesis.slides }}">Slides</a>{% endif %}
            {% if thesis.poster %}<a href="{{ thesis.poster }}">Poster</a>{% endif %}
            {% if thesis.bibtex %}<button data-panel="{{ thesis.tag }}_bibtex">BibTeX</button>{% endif %}
        </div>
        <div class="panel" id="{{ thesis.tag }}_abstract" hidden><span class="lbl">Abstract</span>{{ thesis.abstract | safe }}</div>
        <div class="panel" id="{{ thesis.tag }}_committee" hidden><span class="lbl">Committee</span>{{ thesis.committee }}</div>
        {% if thesis.bibtex %}<div class="panel" id="{{ thesis.tag }}_bibtex" hidden><pre>{{ thesis.bibtex }}</pre></div>{% endif %}
    </div>
</div>
{% endfor %}
